.btn  {
    padding: 3px 35px;
    border: 1px solid #222222;
    border-radius: 3px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.counter {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.counter-view {
    display: flex;
    justify-content: space-evenly;
}

.counter-controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
